<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.test.ueueueu" >
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home_page.MainActivity"
            android:label="ingetQuran">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <!--SET NEW ALARM AND ALARM SETTINGS ACTIVITY-->
        <activity android:name=".alarm_main_app.AlarmEditor"
            android:label="@string/act_alarm_editor"
            android:parentActivityName=".home_page.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home_page.MainActivity" />

        </activity>

        <activity android:name=".alarm_main_app.AlarmMethod"
            android:label="@string/act_alarm_settings_method"
            android:parentActivityName=".alarm_main_app.AlarmEditor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".alarm_main_app.AlarmEditor" />

        </activity>

        <activity android:name=".pilih_surat.PilihSurat"
            android:label="Pilih surat hafalanmu">

        </activity>


        <receiver android:name=".alarm_main_app.AlarmReceiver"></receiver>

        <activity android:name=".alarm_main_app.AnswerSheet">

        </activity>
    </application>

</manifest>